[submodule "viz/reservoir"]
	path = viz/reservoir
	url = https://github.com/infographicstw/reservoir-visualizer.git
[submodule "viz/water-rationing"]
	path = viz/water-rationing
	url = https://github.com/infographicstw/water-rationing-visualizer.git
[submodule "viz/earthquake"]
	path = viz/earthquake
	url = https://github.com/infographicstw/earthquake-visualizer.git
[submodule "viz/global-earthquake"]
	path = viz/global-earthquake
	url = https://github.com/infographicstw/global-earthquake.git
[submodule "viz/keyword-coloring"]
	path = viz/keyword-coloring
	url = https://github.com/infographicstw/keyword-coloring.git
[submodule "viz/color-party-disaster"]
	path = viz/color-party-disaster
	url = git@github-info:infographicstw/color-party-disaster
